= form_for(node) do |f|
  = render 'shared/error_explanation', object: @node

  .form-group
    = f.label :name, t('nodes.name')
    = f.text_field :name, class: 'form-control'

  - unless node.root?
    .form-group
      = f.label :parent_id, t('nodes.parent')
      = f.hidden_field :parent_id, class: 'chained-node-select'

  .form-group
    = f.label t('nodes.description')
    = f.text_area :description, rows: 7, class: 'form-control'

  .form-group
    = f.label t('nodes.status')
    = f.collection_select :status_id, NodeStatus.all, :id, :name, {}, class: 'form-control'

  .form-group
    = f.label t('nodes.n_sided')
    = f.text_field :n_sided, class: 'form-control'

  = f.submit class: 'btn btn-default'

