= form_for(@node) do |f|
  = render 'shared/error_explanation', object: @node

  - unless @node.root?
    .form-group
      = f.label t('nodes.parent')
      = f.select :parent_id, options_for_node, {}, class: 'form-control'

  .form-group
    = f.label t('nodes.name')
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label t('nodes.description')
    = f.text_area :description, rows: 7, class: 'form-control'

  .form-group
    = f.label t('nodes.status')
    = f.collection_select :status_id, NodeStatus.all, :id, :name, {}, class: 'form-control'

  .form-group
    = f.label t('nodes.n_sided')
    = f.text_field :n_sided, class: 'form-control'

  %br

  = f.submit class: 'btn btn-default'

