.metadata
  = link_to '', class: 'expander' do
    %span(class="glyphicon glyphicon-chevron-#{cookies['expander'] == 'hide' ? 'right' : 'down'}")
    = t('nodes.expander')

  .wrapper{ style: ('display: none' if cookies['expander'] == 'hide') }
    - unless node.pages.empty?
      = image_tag(node.pages.first.image.url(:x_small))

    %table.table.table-condensed.table-striped
      %tbody
        %tr
          %td.first= t('nodes.name')
          %td= node.name

        %tr
          %td.first= t('nodes.description')
          %td= node.description

        %tr
          %td.first= t('nodes.status')
          %td= node.status.name

        %tr
          %td.first= t('nodes.created_at')
          %td= node.created_at

        %tr
          %td.first= t('nodes.pages_total')
          %td= node.pages_total

        %tr
          %td.first= t('nodes.pages_processed_total')
          %td= node.pages_processed_total

        %tr
          %td.first= t('nodes.pages_unprocessed_total')
          %td= node.pages_unprocessed_total

        %tr
          %td.first= t('nodes.children_total')
          %td= node.children_total

        %tr
          %td.first= t('nodes.children_processed_total')
          %td= node.children_processed_total

        %tr
          %td.first= t('nodes.children_unprocessed_total')
          %td= node.children_unprocessed_total

    .clear

