- content_for :title, title(t('nodes.nodes'), @node.name, t('nodes.edit'))

- content_for :crumbs do
  - add_crumbs_for_node @node
  - add_crumb t('nodes.edit')

  = get_crumbs

= render 'links', node: @node

%h2= t('nodes.edit')

= render 'form', node: @node

= form_for(@node, url: generate_archive_node_path, html: { style: 'display: inline-block;' }) do |f|
  = f.submit value: t('nodes.generate_archive'), class: 'btn btn-default'
= form_for(@node, url: remove_archive_node_path, html: { style: 'display: inline-block;' }) do |f|
  = f.submit value: t('nodes.remove_archive'), class: 'btn btn-default'

