- content_for :title, @node.name

- unless @node.root?
  - content_for :crumbs do
    - add_crumbs_for_node @node, true
    = get_crumbs

= render 'compass', node: @node

= node_title(@node)

= render 'links', node: @node

= render 'metadata', node: @node

= render 'view', node: @node

