- content_for :title, title(t('nodes.nodes'), @node.name, t('nodes.upload_pages.title'))

- content_for :crumbs do
  - add_crumbs_for_node @node
  - add_crumb t('nodes.upload_pages.title')

  = get_crumbs

.span12
  %h2= t('nodes.upload_pages.title')

  .help= t('nodes.upload_pages.help')

  = form_for Page.new, html: { multipart: true, class: 'fileupload' } do |f|
    = f.hidden_field :node_id, value: @node.id

    .row.fileupload-buttonbar
      .span8
        %span.btn.btn-default.fileinput-button
          %span.glyphicon.glyphicon-plus
          %span= t('fileupload.add_files')
          %input(type="file" name="files[]" multiple)

        %button(type="submit" class="btn btn-default start")
          %span.glyphicon.glyphicon-upload
          %span= t('fileupload.start_upload')

        %button(type="reset" class="btn btn-default cancel")
          %span.glyphicon.glyphicon-ban-circle
          %span= t('fileupload.cancel_upload')

        %button(type="button" class="btn btn-default delete")
          %span.glyphicon.glyphicon-trash
          %span= t('fileupload.delete')

    %br

    %table.table.table-striped
      %thead
        %tr
          %th
          %th= t('fileupload.name')
          %th= t('fileupload.size')

      %tbody.files

    %br

    .row.fileupload-buttonbar
      .span8
        %span.btn.btn-default.fileinput-button
          %span.glyphicon.glyphicon-plus
          %span= t('fileupload.add_files')
          %input(type="file" name="files[]" multiple)

        %button(type="submit" class="btn btn-default start")
          %span.glyphicon.glyphicon-upload
          %span= t('fileupload.start_upload')

        %button(type="reset" class="btn btn-default cancel")
          %span.glyphicon.glyphicon-ban-circle
          %span= t('fileupload.cancel_upload')

        %button(type="button" class="btn btn-default delete")
          %span.glyphicon.glyphicon-trash
          %span= t('fileupload.delete')

.clear

- content_for :javascript do
  = javascript_include_tag 'jQuery-File-Upload/app'

  :coffee
    window.locale =
      fileupload:
        start: '#{ t('fileupload.start') }'
        cancel: '#{ t('fileupload.cancel') }'
        destroy: '#{ t('fileupload.delete') }'
        error: '#{ t('fileupload.error') }'

    $('.fileupload').fileupload sequentialUploads: true, disableImageLoad: true

:plain
  <script id="template-upload" type="text/x-tmpl">
    {% for (var i = 0, file; file = o.files[i]; i++) { %}
    <tr class="template-upload fade">
      <td class="preview"><span class="fade"></span></td>
      <td class="name"><span>{%= file.name %}</span></td>
      <td class="size"><span>{%= o.formatFileSize(file.size) %}</span></td>
      {% if (file.error) { %}
      <td class="error" colspan="2">
        <span class="label label-important">{%= locale.fileupload.error %}</span>
        {%= locale.fileupload.errors[file.error] || file.error %}
      </td>
      {% } else if (!i) { %}
      <td width="100">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-info bar" style="width: 0%;"></div>
        </div>
      </td>
      <td class="start">
        {% if (!o.options.autoUpload) { %}
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-upload"></span>
          <span>{%= locale.fileupload.start %}</span>
        </button>
        {% } %}
      </td>
      {% } else { %}
      <td colspan="2"></td>
      {% } %}
      <td class="cancel">
        {% if (!i) { %}
        <button class="btn btn-default">
          <span class="glyphicon glyphicon-ban-circle"></span>
          <span>{%= locale.fileupload.cancel %}</span>
        </button>
        {% } %}
      </td>
    </tr>
    {% } %}
  </script>

  <script id="template-download" type="text/x-tmpl">
    {% for (var i = 0, file; file = o.files[i]; i++) { %}
      <tr class="template-download fade">
        {% if (file.error) { %}
        <td></td>
        <td class="name"><span>{%= file.name %}</span></td>
        <td class="size"><span>{%= o.formatFileSize(file.size) %}</span></td>
        <td class="error" colspan="2">
          <span class="label label-important">{%= locale.fileupload.error %}</span>
          {%= locale.fileupload.errors[file.error] || file.error %}
        </td>
        {% } else { %}
        <td class="preview">
          {% if (file.thumbnail_url && false) { %}
            <img src="{%= file.thumbnail_url %}">
          {% } %}
        </td>
        <td class="name">{%= file.name %}</td>
        <td class="size"><span>{%= o.formatFileSize(file.size) %}</span></td>
        <td colspan="2"></td>
        {% } %}
        <td class="delete">
          <button class="btn btn-default" data-type="{%= file.delete_type %}" data-url="{%= file.delete_url %}">
            <span class="glyphicon glyphicon-trash"></span>
            <span>{%= locale.fileupload.destroy %}</span>
          </button>
        </td>
        <td></td>
      </tr>
    {% } %}
  </script>

